# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Datasets
data/*
!data/README.md

# Trained models
models/*
!models/README.md

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db